
input[type=text], select {
    border: 2px solid cadetblue;
    border-radius: 4px;
    margin: .5rem;
    display: inline-block;
    width: 20rem;
}

.textArea-input {
    width: 20rem;
    height: 20rem;
    margin: .5rem;
    box-sizing: border-box;
    border: 2px solid cadetblue;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: vertical;
}

.select-input {
    border: 2px solid cadetblue;
}

select {
    width: 100%;
    border: 2px solid cadetblue;
}